/* You can add global styles to this file, and also import other style files */
body {
	/* The image used */
	background-image: url("image/team.jpg");
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
	
	/* to flip image on mouse over 
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	*/
}