<nav class="navbar navbar-inverse navbarModification">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">SiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#" (click)="disableOtherComp('home3')" >Page 2</a></li>
			<li><a href="#" (click)="disableOtherComp('home1')" >Home</a></li>
			<li><a href="#" (click)="disableOtherComp('home2')" >Page 1</a></li>
			<!-- <li class="active"><a href="#" (click)="disableOtherComp('home3')" >Page 2</a></li> -->
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span>
					Sign Up</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
					Login</a></li>
		</ul>
	</div>
</nav>

<!-- click by home -->
<div class="container-fluid" *ngIf="isSearch"> 
	<app-search></app-search>
</div>

<!-- click by page1 -->
<div class="container-fluid main" *ngIf="isProduct">
	<app-product></app-product>
</div>